monitoring/n8n/workflows/job-alert-workflow.json
{
  "name": "🔔 Career-Ops — Job Alert",
  "nodes": [
    {
      "id": "trigger-schedule",
      "name": "⏰ Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      }
    },
    {
      "id": "http-jobs",
      "name": "📡 Fetch Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "parameters": {
        "method": "GET",
        "url": "http://backend:8000/api/v1/jobs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": false,
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "careerops-api",
          "name": "Career-Ops API Token"
        }
      }
    },
    {
      "id": "filter-new",
      "name": "🔍 Filter New/Unread",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status-condition",
              "leftValue": "={{ $json.status }}",
              "rightValue": "saved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "notify-slack",
      "name": "💬 Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [850, 200],
      "parameters": {
        "channel": "job-alerts",
        "text": "=🚀 *New Job Posted!*\n*Company:* {{ $json.company }}\n*Title:* {{ $json.title }}\n*URL:* {{ $json.url }}\n*Status:* {{ $json.status }}",
        "as_user": true,
        "attachments": {}
      },
      "credentials": {
        "slackApi": {
          "id": "careerops-slack",
          "name": "Career-Ops Slack Bot"
        }
      }
    },
    {
      "id": "notify-email",
      "name": "📧 Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.2,
      "position": [850, 400],
      "parameters": {
        "fromEmail": "n8n@careerops.io",
        "toEmail": "user@careerops.io",
        "subject": "=🚀 New Job Alert: {{ $json.title }} at {{ $json.company }}",
        "text": "=Hi there,\n\nA new job has been posted:\n\nCompany: {{ $json.company }}\nTitle: {{ $json.title }}\nURL: {{ $json.url }}\n\nCheck it out on Career-Ops!\n\nBest,\nYour Career Assistant"
      },
      "credentials": {
        "smtp": {
          "id": "careerops-smtp",
          "name": "Career-Ops SMTP"
        }
      }
    },
    {
      "id": "noop-end",
      "name": "✅ Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1050, 300],
      "parameters": {}
    }
  ],
  "connections": {
    "⏰ Schedule Trigger": {
      "main": [
        [
          {
            "node": "📡 Fetch Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📡 Fetch Jobs": {
      "main": [
        [
          {
            "node": "🔍 Filter New/Unread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Filter New/Unread": {
      "main": [
        [
          {
            "node": "💬 Slack Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📧 Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Email Notification": {
      "main": [
        [
          {
            "node": "✅ Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💬 Slack Notification": {
      "main": [
        [
          {
            "node": "✅ Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["careerops", "jobs", "alerts"],
  "pinData": {}
}
